<IfModule mod_headers.c>
Header set Access-Control-Allow-Origin "*"
</IfModule>


# Other option is also enable the headers in your script if you are using PHP, for example:

<?php
header("Access-Control-Allow-Headers: Authorization, Content-Type");
header("Access-Control-Allow-Origin: *");
header('content-type: application/json; charset=utf-8');
?>